<div class="welcome">
  <div class="words">
    <h1> Elizabeth O. Jiménez </h1>
    <h5>Daughter • Mother • Educator • Leader  </h5>
  </div>
</div>
<br /><br /><br />
<div class="body">
  <div class="intro">
    <img id="imgBio" class="img-fluid" alt="Responsive image" src="assets/jimenezfamily.jpg" />
    <p id="Bio">
      Elizabeth O. Jiménez is a proud Mexican Womxn. She has lived in Berwyn for the past 22 years.
      She is a single mother of 3 beautiful children, all of whom have attended Piper Elementary School and Heritage Middle school in District 100.
      She has had a passion for education and teaching for the past 20 years. Scroll down to get to know Elizabeth more...
    </p>
    <br />
  </div>
</div>

<br />
<br />
<div class="container bootstrap snippets bootdeys">
  <br />
  <div class="col-xl-12">
    <div class="timeline-centered timeline-xl">
      <article class="timeline-entry">
        <div class="timeline-entry-inner">
          <time datetime="2014-01-10T03:45" class="timeline-time"><span>1969</span><span>Mexico</span></time>
          <div class="timeline-icon bg-violet"><i class="fa fa-plus"></i></div>
          <div class="timeline-label">
            <h4 class="timeline-title">A Latina</h4>
            <img class="img-fluid" alt="Responsive image" src="assets/as child.jpg">

            <p>
              Elizabeth was born in Michoacán, Mexico.
              She was raised by her grandparents until she immigrated to the United States.
            </p>
          </div>
        </div>
      </article>
      <article class="timeline-entry left-aligned">
        <div class="timeline-entry-inner">
          <time datetime="2014-01-10T03:45" class="timeline-time"><span>1988</span><span>Little Village</span></time>
          <div class="timeline-icon bg-green"><i class="fa fa-group"></i></div>
          <div class="timeline-label bg-green">
            <h4 class="timeline-title">An Immigrant</h4>
            <img class="img-fluid" src="assets/family.jpg">
            <p>Elizabeth and her family became legal residents of the United States of America thourgh the Immigration Reform and Control Act (IRCA) passed in November 6, 1986 (Amnesty of 1986). She grew up in the Pilsen Neighborhood of Chicago where she attented Benito Juarez High School.</p>
          </div>
        </div>
      </article>
      <article class="timeline-entry">
        <div class="timeline-entry-inner">
          <time datetime="2014-01-09T13:22" class="timeline-time"><span>1998</span><span>Chicago</span></time>
          <div class="timeline-icon bg-orange"><i class="fa fa-paper-plane"></i></div>
          <div class="timeline-label bg-orange">
            <h4 class="timeline-title">An American</h4>

            <p><!--<img src="https://via.placeholder.com/45x45/" alt="" class="timeline-img pull-left">-->Elizabeth became a Citizen of the United States of America the same year she gave birth to her youngest.</p>
          </div>
        </div>
      </article>
      <article class="timeline-entry left-aligned">
        <div class="timeline-entry-inner">
          <time datetime="2014-01-10T03:45" class="timeline-time"><span>2001</span><span>Berwyn, IL</span></time>
          <div class="timeline-icon bg-yellow"><i class="fa fa-exclamation"></i></div>
          <div class="timeline-label bg-yellow">
            <h4 class="timeline-title">A Trailblazer</h4>

            <p>
              She started working as a Teaching Assistant at Heritage Middle School (Berwyn School District 100).
              Later she became the School District receptionist and Administrative Assistant to the Director of Building and Grounds.
              It was during that time that her drive for becoming an educator grew.
            </p>
          </div>
        </div>
      </article>
      <article class="timeline-entry">
        <div class="timeline-entry-inner">
          <time datetime="2014-01-10T03:45" class="timeline-time"><span>2007 </span><span>Normal, IL</span></time>
          <div class="timeline-icon bg-blue"><i class="fa fa-group"></i></div>
          <div class="timeline-label bg-blue">
            <h4 class="timeline-title">Education</h4>
            <p>
              She received a degree in higher education from Illinois State University with a Multicultural/Bilingual Education
              teaching certificate and became the first in her family to graduate from higher education.
              Then she started teaching 2nd grade at Pershing Elementary School.
            </p>
          </div>
        </div>
      </article>
      <article class="timeline-entry left-aligned">
        <div class="timeline-entry-inner">
          <time datetime="2014-01-09T13:22" class="timeline-time"><span>2012</span><span>River Forest</span></time>
          <div class="timeline-icon bg-pink"><i class="fa fa-paper-plane"></i></div>
          <div class="timeline-label bg-pink">
            <h4 class="timeline-title">Higher Education</h4>

            <p>  <img class="img-fluid" alt="Responsive image" src="assets/concordia.jpg">Elizabeth earned a School Leadership certificate from Concordia University. (masters?)</p>
          </div>
        </div>
      </article>
      <article class="timeline-entry">
        <div class="timeline-entry-inner">
          <time datetime="2014-01-10T03:45" class="timeline-time"><span>2014</span><span>Westmont</span></time>
          <div class="timeline-icon bg-violet"><i class="fa fa-exclamation"></i></div>
          <div class=" timeline-label bg-violet">
            <h4 class="timeline-title">A Dreamer</h4>

            <p>
              Elizabeth left Pershing Elementary in the hopes of beginning her journey into a new role as a potential school board member.
              In 2015, becoming the first Latina and minority ever to be seated on the Berwyn South School District 100 board.
            </p>
          </div>
        </div>
      </article>
      <article class="timeline-entry left-aligned">
        <div class="timeline-entry-inner">
          <time datetime="2014-01-10T03:45" class="timeline-time"><span>2016</span><span>Berwyn</span></time>
          <div class="timeline-icon bg-yellow"><i class="fa fa-exclamation"></i></div>
          <div class="timeline-label bg-yellow">
            <h4 class="timeline-title">After 2016 National election</h4>
            <img class="img-fluid" alt="Responsive image" src="assets/Arise.jpg">

            <p>
              She co-founded an organization called Berwyn Comunidad en Acción, (Berwyn Community Action-BCA) and has worked on making Berwyn a Welcoming City by approving a Safe School resolution in Berwyn South School District 100 that protects undocumented families, students, and staff.
              The BCA has gained support from ARISE Chicago, BCA organized so that Berwyn’s city council did not opt out of a minimum wage that had been approved in Cook County.
            </p>
          </div>
        </div>
      </article>
      <article class="timeline-entry">
        <div class="timeline-entry-inner">
          <time datetime="2014-01-10T03:45" class="timeline-time"><span>2017</span><span>Chicago</span></time>
          <div class="timeline-icon bg-green"></div>
          <div class="timeline-label bg-green">
            <h4 class="timeline-title">An Inspiration</h4>
            <img class="img-fluid" src="assets/family.jpg">
            <p>Elizabeth was granted the Faithful Leadership Award from ARISE Chicago.</p>
          </div>
        </div>
      </article>
      <article class="timeline-entry left-aligned">
        <div class="timeline-entry-inner">
          <time datetime="2014-01-09T13:22" class="timeline-time"><span>2017</span><span>Berwyn</span></time>
          <div class="timeline-icon bg-violet"><i class="fa fa-paper-plane"></i></div>
          <div class="timeline-label">
            <h4 class="timeline-title">A Leader</h4>
            <img class="img-fluid" alt="Responsive image" src="assets/arise award.jpg">
            <p>Elizabeth served as the first Latina Vice-President on the board and was reelected in 2019.</p>
          </div>
        </div>
      </article>
      <article class="timeline-entry">
        <div class="timeline-entry-inner">
          <time datetime="2014-01-10T03:45" class="timeline-time"><span>2020</span><span>Berwyn</span></time>
          <div class="timeline-icon bg-blue"><i class="fa fa-exclamation"></i></div>
          <div class=" timeline-label bg-blue">
            <h4 class="timeline-title">An Educator</h4>

            <p>
              Elizabeth currently teaches 3rd grade English Language at Maercker Elementary School in DuPage County. As an educator,
              she has been actively involved with the National Education Association (NEA) and the Illinois Education Association (IEA)
              and is currently an elected Board of Director to the IEA.
            </p>
          </div>
        </div>
        <div class="timeline-entry-inner">
          <div style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);" class="timeline-icon"><i class="fa fa-plus"></i></div>
        </div>
      </article>
    </div>
  </div>
</div>
<br />
