<p>bio works!</p>
<div class="body">
  <div class="timeline">
    <div class="container left">
      <div class="content">
        <h2>1969</h2>
        <p> Elizabeth was born in Michoacán, Mexico </p>
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <h2>1988</h2>
        <p>
          Elizabeth and her family became legal residents of the United States of America thourgh the Immigration Reform and Control Act (IRCA) passed in November 6, 1986 (Amnesty of 1986). She grew up in the Pilsen Neighborhood of Chicago where she attented Benito Juarez High School

        </p>
      </div>
    </div>
    <div class="container left">
      <div class="content">
        <h2>1998</h2>
        <p>Elizabeth became a Citizen of the United States of America.</p>
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <h2>2001</h2>
        <p>
          She started working as a Teaching Assistant at Heritage Middle School (Berwyn School District 100). Later she became the School District receptionist and Administrative Assistant to the Director of Building and Grounds.
          It was during that time that her drive for becoming an educator grew.
        </p>
      </div>
    </div>
    <div class="container left">
      <div class="content">
        <h2>2007</h2>
        <p>
          She received a degree in higher education from Illinois State University with a Multicultural/Bilingual Education teaching certificate and became the first in her family to graduate from higher education.
          Then she started teaching 2nd grade at Pershing Elementary School.
        </p>
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <h2>2012</h2>
        <p>Elizabeth earned a School Leadership certificate from Concordia University. (masters?)</p>
      </div>
    </div>
    <div class="container left">
      <div class="content">
        <h2>2014-2015</h2>
        <p>
          Elizabeth left Pershing Elementary in the hopes of beginning her journey into a new role as a potential school board member.
          In 2015, becoming the first Latina and minority ever to be seated on the Berwyn South School District 100 board
        </p>
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <h2>After the 2016 National election</h2>
        <p>
          She co-founded an organization called Berwyn Comunidad en Acción, (Berwyn Community Action-BCA) and has worked on making Berwyn a Welcoming City by approving a Safe School resolution in Berwyn South School District 100 that protects undocumented families, students, and staff.
          The BCA has gained support from ARISE Chicago, BCA organized so that Berwyn’s city council did not opt out of a minimum wage that had been approved in Cook County.
        </p>
      </div>
    </div>
    <div class="container left">
      <div class="content">
        <h2>2017</h2>
        <p>Elizabeth was granted the Faithful Leadership Award from ARISE Chicago.</p>
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <h2>2017- 2019</h2>
        <p>Elizabeth served as the first Latina Vice-President on the board and was reelected in 2019.</p>
      </div>
    </div>
    <div class="container left">
      <div class="content">
        <h2>2014-PRESENT</h2>
        <p>Elizabeth currently teaches 3rd grade English Language at Maercker Elementary School in DuPage County.
        As an educator, she has been actively involved with the National Education Association (NEA) and the Illinois Education Association (IEA) and is currently an elected Board of Director to the IEA. </p>
      </div>
    </div>
  </div>
</div>
