<div class="issues-welcome">
  <h1> Where we all can thrive.</h1>
  <h5>Education • Equity ◦ Transparency • Action ◦ Trust • Community </h5>
</div>
<div class="cards">
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="assets/Minumum Wage.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Equity</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <!--      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        -->
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/Working together for Education.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Education</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <!--      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        -->
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/Backpack Full Of Cash -No Charter school in Berwyn.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Transparency</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="assets/IEA Janus-UnionRally.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Action</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <!--      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        -->
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/Working together with Unions.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Trust</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <!--      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        -->
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/Supporting Boy's Scout troops in Berwyn.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Community</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <!--      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        -->
      </div>
    </div>
  </div>
</div>
