* {
  font-family:  'Lucida Sans Grande';
}

.issues-welcome {
  color: white;
  position: center;
  background: url("src/assets/cityHall.jpg") no-repeat top center fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15em;
  font-weight: bold;
  font-weight: bold;
}
.card-deck {
  padding: 50px;
}
h1 {
  font-size: 85px;
  width: 150%;
  -webkit-text-stroke: .5px DarkGray;
  text-align:  match-parent;
}

h5 {
  text-align: center;
  text-decoration: solid;
  font-weight: bold;
}

.cards {
  position: sticky;
}
