<h1> A Berwyn where we all can thrive.</h1>
<h3> A Transparent Berwyn</h3>
<ul class="list-unstyled">
  <li>
    Practicing meaningful community engagement
    <ul>
      <li>community participation</li>
      <li>create venues to engage historically marginalized communities  </li>
    </ul>
  </li>
  <li>Services Accessible to everyone</li>
  <li>Services that are easy-to-navigate </li>
  <li>Hire a certified city manager</li>
  <li>Implement a policy so there are no conflicts of interest with workers and public officials </li>
  <li>Create residency requirements for city employees or at least... </li>
</ul>

<br />
<h3>An Equitable Berwyn </h3>
<ul class="list-unstyled">
  <li>A city that makes a commitment to achieving racial equity</li>
  <li>Developing a pathway to racial equity </li>
  <li>Create and provide cultural competence training for all city employees</li>
  <li>Preserve and expand affordable housing for residents</li>
  <li>Create policies that will prevent displacement of persons of color </li>
  <li>Create healthy, safe, and affordable housing for all family sizes and incomes </li>
  <li>Discourage displacement of small businesses that serve community needs. </li>
  <li>Invest and create programs that support small businesses</li>
  <li>Invest in development that is accessible and welcoming to people regardless of age, physical condition, or language.</li>

  <li>
    Invest and create programs that will support the youth in different areas
    <ul>
      <li>
        Mental health
      </li>
      <li>Physical health </li>
      <li>Improve quality of life</li>
    </ul>
  </li>
</ul>
