
ngb-carousel{
    overflow: hidden;
    width: 500px;
    height: 450px;
    margin: 0 auto;
}
ngb-carousel img{
    width: 500px;
    height: 450px;
    object-fit: cover;   
}


#s01{
    background-color: RGB(64,139,239);
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 15px;
     height: 450px;
}

#s02{
    background-color: RGB(255,181,49);
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 15px;
}

#s03{
    background-color: RGB(255,255,255);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    height: 450px;
}

#s03 .card{
    margin: 2em;
    width: 300px;
    height: 400px;
    border: 0.5px solid RGB(200,200,200);
}

#s03 .card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

#s04{
    background-color: RGB(0,45,128);
}
