
<h1 id="headers">What is an Alderman</h1>
<div style= "text-align: left;" id = "history">

    <p> Since the City of Chicago is divided into fifty legislative wards or districts.<br>
        Each district gets to elect an official to represent them; this official is known as an Alderman.<br>
        Once they are elected, they will serve a four-year term to represent their wards/districts residents' interests.<br> 
        In all, there are a total of 50 Alderman make up the Chicago City Council; this council is there to serve as the legislative branch of government for the City of Chicago. </p>

        <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
            <ng-template ngbSlide *ngFor="let image of images">
              <div class="picsum-img-wrapper">
                <img [src]="image" alt="Random slide">
              </div>
              <div class="carousel-caption">
                
              </div>
            </ng-template>
          </ngb-carousel>
          
</div>
<h1 id= "headers">History</h1>
<div id="history">
    <p> Elizabeth has lived in Berwyn since 1999 where she has raised three beautiful children: Lizette, Xavier, and LizaMarie.
        She is proud of the rich culture and diversity that Berwyn has to offer and is running for office to ensure the same variety in our government.
 
         Elizabeth wants Berwyn to be a place where we can learn from each other and look out for our neighbors. 
         She believes that, through service and modeling, we can collaborate, engage, inspire, learn, accept, and help our fellow citizens.​
         
         Elizabeth has a long history of serving the community. She has served as a teaching assistant at Heritage Middle School, 
         an administrative assistant at LaVergne Educational Center, and a second-grade bilingual teacher at Pershing School in Berwyn. 
         Following those accomplishments, she set her sights on building our future and was elected to the District 100 Board of Education in 2015 and is currently serving a second term. Elizabeth also actively participates in a variety of professional and community organizations. She is now an educator in DuPage County.​
         
         Elizabeth’s professional, educational, and proven community service background makes her a vital asset to the city council. She continues to accomplish and serve though 
         the following achievements:​
         
         Education: 
         Bachelors Degree from Illinois State University in Elementary Education with an emphasis on Multi-cultural Education. Masters degree from Concordia University in School Leadership. </p>

        <ul>
        <h3>Boards and Associations:</h3><br>
        <li>✅Vice-President of Berwyn South School District 100 Board of Education</li>
        <li>✅Co-founder of Berwyn Community Action (Berwyn Comunidad en Acción)</li>
        <li>✅Teach PLUS Illinois 2019 Fellow</li>
        <li>✅Board of Director for AWAKE</li>
        <li>✅Past Member of Pershing PTA</li>
        <li>✅Served as PTA member in 3 different D100 Schools (Piper, Pershing, Heritage)</li>
        <li>✅Past PTA Executive Board Member at 2 different D100 schools (Heritage and Piper)</li>
        <li>✅Past teacher liaison for Pershing PTA</li>
        <li>✅Past Coordinator Parent University at Pershing School</li>
        <li>✅Past secretary of the All Berwyn Committee (ABC)</li>
        <li>✅Founding member of South Berwyn District Advisory Committee for Educational Excellence (DACEE)</li>
        <li>✅Past member of South Berwyn Education Association (SBEA)</li>
        <li>✅Member South Berwyn Education Foundation (SBEF)</li>
        <li>✅Elected member to the Board of Directors for Illinois Education Association (IEA)</li>
        <li>✅Executive Committee for Illinois Education Association (IEA)</li>
        <li>✅Elected Member to the Resolutions Committee to the National Education Association (NEA)</li>
        <li>✅Member of National Education Association Hispanic Caucus</li>
        <li>✅Member of Education Association Black Caucus</li>
        <li>✅Member of Maercker Education Association (MEA)</li>
        <li>✅Member of Maercker PTA</li>
        </ul>
  
</div>
