
ngb-carousel{
    overflow: hidden;
    width: 500px;
    height: 450px;
    margin: 0 auto;
}
ngb-carousel img{
    width: 500px;
    height: 450px;
    object-fit: cover;   
}


#s01{
    background-color: RGB(64,139,239);
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 15px;
     height: 450px;
}

#s02{
    background-color: RGB(255,181,49);
    display: grid;
    align-content: center;
    grid-template-columns: auto auto;
    column-gap: 15px;
}

#s03{
    background-color: RGB(0,45,128);
}
