<div class="container-fluid" id="GrandPoobah">
    <nav class="navbar navbar-light navbar-expand-sm">
        <span class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="">Home</a>
        </span>

        <span class="nav-item">
            <a  class="nav-link" routerLinkActive="active" routerLink="bio">Bio</a>
                <!-- dropdown: personal, education, career -->

        </span>
        <span class="nav-item">
            <a  class="nav-link" routerLinkActive="active" routerLink="issue">Issues</a>
            <!-- dropdown: 1, 2, 3 -->
        </span>
        <span class="nav-item">
            <a  class="nav-link" routerLinkActive="active" routerLink="contact">Contact</a>
            <!-- volunteer, contact info  -->
        </span>
    </nav>
</div>

