#nav {
 padding: 0px;
 position: sticky; 
 top: 0;
 z-index: 1000;
}

.navbar-light{
    background-color: rgb(2,43,128);
}

.nav-item{
    padding: 15px;
    text-align: center;
}

.nav-item a:link {
    background-color: rgb(255,181,49);
    text-decoration: none;
    border-radius: 5px;
}

.nav-item a:hover {
    background-color: rgb(255,181,49);
}

header{
    display: flex;
    align-content: center;
    height: 300px;
}
header img{
    width: 300px;
    height: 300px;
}
header div{
    width: 100%;
    overflow:hidden;
    display: block;
}
header video{
    width: 700px;
    position: relative;
    top: -205px;
    margin-left: 50px;
}

.fa-facebook-square{
    color: rgb(255,181,49);
    font-size: 24px;
}
