
<header>
    <img src="assets/headshot.jpg">
    <div>
        <video loop autoplay> 
            <source src="assets/Logo.mp4" type="video/mp4">  
        </video>
    </div>
</header>
<div class="container-fluid" id="nav" >
    <nav class="navbar navbar-light navbar-expand-sm">
        <span class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="">Home</a>
        </span>
        <span class="nav-item">
            <a  class="nav-link" routerLinkActive="active" routerLink="/bio">Bio</a>
        </span>
        <span class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/goals">Goals</a>
        </span>
        <span class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/issues">Issues</a>
        </span>
        <span class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/contact">Contact</a>
        </span>
        
        <a href="https://www.facebook.com/media/set/?vanity=JimenezforBerwyn4&set=a.138443928009196"><i class="fab fa-facebook-square"></i></a>
    </nav>
</div>

